<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Forappneo - Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="ion-padding">

    <form [formGroup]="credenciales">
      <ion-item>
        <ion-label color="dark">Usuario:</ion-label>
        <ion-input type="text" formControlName="username" placeholder="Inserte su usuario."></ion-input>
        <span *ngIf="credenciales.get('username').touched && credenciales.get('username').hasError('required')">Requerido</span>
      </ion-item>
      <br>
      <ion-item>
        <ion-label color="dark">Contraseña:</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Inserte su contraseña."></ion-input>
        <span *ngIf="credenciales.get('password').touched && credenciales.get('password').hasError('required')">Requerido</span>
      </ion-item>

      <br>
      <ion-button [disabled]="credenciales.invalid" (click)="login()" color="success" expand="block"><ion-icon name="walk"></ion-icon>&nbsp;Entrar</ion-button>
      <br>
      <ion-button (click)="register()" color="primary" expand="block"><ion-icon name="person-add"></ion-icon>&nbsp;Crear Cuenta</ion-button>
    </form>

  </div>
</ion-content>
