<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forappneo - Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">

    <ion-card>
        <ion-card-title padding text-center>
            Mi perfil
        </ion-card-title>

        <ion-img src="{{arreglo.imagen}}" class="circle-pic"></ion-img>
        <ion-button (click)="tomarFoto()" padding color="primary" expand="block"><ion-icon name="camera"></ion-icon>&nbsp;Tomar Foto</ion-button>
        <ion-button (click)="elegirFoto()" padding color="primary" expand="block"><ion-icon name="folder-open"></ion-icon>&nbsp;Elegir Foto</ion-button>
        
        <br>

        <ion-card-content text-center>

          <ion-item>
            <ion-label color="dark">Nombre:</ion-label>
            <ion-label>{{arreglo.name}}</ion-label>
          </ion-item>
            
          <ion-button (click)="editar()" color="success" expand="block"><ion-icon name="create"></ion-icon>&nbsp;Editar Perfil</ion-button>
          <ion-button (click)="regresar()" color="danger" expand="block"><ion-icon name="undo"></ion-icon>&nbsp;Regresar</ion-button>
        </ion-card-content>
      </ion-card>
</ion-content>
